<html>
<head></head>
<body>

<h1>Hello, {{user}}</h1>

<form
    onSubmit="
    var payload= {
        method:'post',
        headers:{
            'Content-type': 'application/x-www-from-urlencoded'
        }
        body:`username=${this.username.value}&password=${this.password.value}`
    }

    fetch('/login', payload).then(resp=>resp.text()).then(text=>console.log)
    return false;
    "
    >
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Авторизация">
</form>

</body>
</html>